# data.table

In [6]:
library(data.table)

In [7]:
set.seed(1)
df1 = data.frame(x=rnorm(9), y=rep(c("a","b","c"), each=3),z=rnorm(9))
head(df1)

  x          y z
1 -0.6264538 a -0.3053884
2  0.1836433 a  1.5117812
3 -0.8356286 a  0.3898432
4  1.5952808 b -0.6212406
5  0.3295078 b -2.2146999
6 -0.8204684 b  1.1249309

In [8]:
set.seed(1)
df2 = data.table(x=rnorm(9), y=rep(c("a","b","c"), each=3),z=rnorm(9))
head(df2)

  x          y z
1 -0.6264538 a -0.3053884
2  0.1836433 a  1.5117812
3 -0.8356286 a  0.3898432
4  1.5952808 b -0.6212406
5  0.3295078 b -2.2146999
6 -0.8204684 b  1.1249309

In [9]:
# list tables in memory
tables()

   NAME NROW NCOL MB  COLS KEY
1:  df2    9    3  0 x,y,z
Total: 0MB

In [10]:
# subsetting
df2[2,]

  x         y z
1 0.1836433 a 1.511781

In [11]:
# subsetting
df2[df2$y=="a"]

  x          y z
1 -0.6264538 a -0.3053884
2  0.1836433 a  1.5117812
3 -0.8356286 a  0.3898432

In [12]:
# subsetting by number of rows
df2[c(2,3)]

  x          y z
1  0.1836433 a 1.5117812
2 -0.8356286 a 0.3898432

In [13]:
# subsetting by number of columns
df2[,c(2,3)]

  y z
1 a -0.30538839
2 a  1.51178117
3 a  0.38984324
4 b -0.62124058
5 b -2.21469989
6 b  1.12493092
7 c -0.04493361
8 c -0.01619026
9 c  0.94383621

In [14]:
# calculating values for variables with expression
df2[,list(mean(x),mean(z))]

  V1       V2
1 0.180824 0.08532653

In [17]:
# creating a table
# in this case we are creating a table of count of values of 
# y column
df2
df2[,table(y)]

  x          y z
1 -0.6264538 a -0.30538839
2  0.1836433 a  1.51178117
3 -0.8356286 a  0.38984324
4  1.5952808 b -0.62124058
5  0.3295078 b -2.21469989
6 -0.8204684 b  1.12493092
7  0.4874291 c -0.04493361
8  0.7383247 c -0.01619026
9  0.5757814 c  0.94383621

y
a b c
3 3 3

In [21]:
# adding a column
df2[,w:=z^2]
df2

  x          y z           w
1 -0.6264538 a -0.30538839 0.0932620670
2  0.1836433 a  1.51178117 2.2854823013
3 -0.8356286 a  0.38984324 0.1519777490
4  1.5952808 b -0.62124058 0.3859398589
5  0.3295078 b -2.21469989 4.9048955903
6 -0.8204684 b  1.12493092 1.2654695706
7  0.4874291 c -0.04493361 0.0020190292
8  0.7383247 c -0.01619026 0.0002621246
9  0.5757814 c  0.94383621 0.8908267926

In [23]:
# multiple operations
df2[, m:={tmp<-(x+z);log2(tmp+5)}]
df2

  x          y z           w            m
1 -0.6264538 a -0.30538839 0.0932620670 2.024376
2  0.1836433 a  1.51178117 2.2854823013 2.743176
3 -0.8356286 a  0.38984324 0.1519777490 2.187202
4  1.5952808 b -0.62124058 0.3859398589 2.578707
5  0.3295078 b -2.21469989 4.9048955903 1.639143
6 -0.8204684 b  1.12493092 1.2654695706 2.407207
7  0.4874291 c -0.04493361 0.0020190292 2.444268
8  0.7383247 c -0.01619026 0.0002621246 2.516553
9  0.5757814 c  0.94383621 0.8908267926 2.704787

In [24]:
# plyr like operations
df2[,a:=x>0]
df2

  x          y z           w            m        a
1 -0.6264538 a -0.30538839 0.0932620670 2.024376 FALSE
2  0.1836433 a  1.51178117 2.2854823013 2.743176  TRUE
3 -0.8356286 a  0.38984324 0.1519777490 2.187202 FALSE
4  1.5952808 b -0.62124058 0.3859398589 2.578707  TRUE
5  0.3295078 b -2.21469989 4.9048955903 1.639143  TRUE
6 -0.8204684 b  1.12493092 1.2654695706 2.407207 FALSE
7  0.4874291 c -0.04493361 0.0020190292 2.444268  TRUE
8  0.7383247 c -0.01619026 0.0002621246 2.516553  TRUE
9  0.5757814 c  0.94383621 0.8908267926 2.704787  TRUE

In [25]:
# aggreated mean
df2[,b:=mean(x+w),by=a]
df2

  x          y z           w            m        a     b
1 -0.6264538 a -0.30538839 0.0932620670 2.024376 FALSE -0.2572805
2  0.1836433 a  1.51178117 2.2854823013 2.743176  TRUE  2.0632321
3 -0.8356286 a  0.38984324 0.1519777490 2.187202 FALSE -0.2572805
4  1.5952808 b -0.62124058 0.3859398589 2.578707  TRUE  2.0632321
5  0.3295078 b -2.21469989 4.9048955903 1.639143  TRUE  2.0632321
6 -0.8204684 b  1.12493092 1.2654695706 2.407207 FALSE -0.2572805
7  0.4874291 c -0.04493361 0.0020190292 2.444268  TRUE  2.0632321
8  0.7383247 c -0.01619026 0.0002621246 2.516553  TRUE  2.0632321
9  0.5757814 c  0.94383621 0.8908267926 2.704787  TRUE  2.0632321

In [36]:
set.seed(123)
df3 <- data.table(x=sample(letters[1:3], 1E5, TRUE))
head(df3, 10)
nrow(df3)
df3[, .N, by=x]

   x
1  a
2  c
3  b
4  c
5  c
6  a
7  b
8  c
9  b
10 b

[1] 100000

  x N
1 a 33387
2 c 33201
3 b 33412

In [50]:
df4 <- data.table(x=rep(c("a","b","c"), each=100),y=rnorm(300))
setkey(df4, x)
head(df4['a'],10)

   x y
1  a -1.99113711
2  a -0.59133013
3  a -0.02583003
4  a  0.81035314
5  a  1.43955187
6  a  2.12155354
7  a -0.02893029
8  a  0.85823146
9  a  0.67072935
10 a  1.55095318

In [53]:
# joins
df5 <- data.table(x=c('a','a','b','dt1'), y=1:4)
df6 <- data.table(x=c('a','b','dt2'), z=5:7)
setkey(df5, x); setkey(df6, x)
df5
df6
merge(df5, df6)

  x   y
1 a   1
2 a   2
3 b   3
4 dt1 4

  x   z
1 a   5
2 b   6
3 dt2 7

  x y z
1 a 1 5
2 a 2 5
3 b 3 6