# Reading Tabular Data

In [38]:
x1 <- read.table("data1.csv",header=TRUE,sep=',',comment.char='#')
x1
attributes(x1)
lapply(x1, class)

  Product              Price   PhysicalSpecs
1 PlayStation 4 Pro    $399.99 8-core Jaguar AMD @ 2.1GHz
2 Microsoft Xbox One S $244.94 8-core Jaguar CPU @1.75GHz
3 PlayStation 4 Slim   $318    8-core Jaguar AMD Jaguar @1.6GHz

$names
[1] "Product"       "Price"         "PhysicalSpecs"

$class
[1] "data.frame"

$row.names
[1] 1 2 3

$Product
[1] "factor"

$Price
[1] "factor"

$PhysicalSpecs
[1] "factor"

To Read large data set, the read.table() function provides a lot of useful parameters that will help specifically on this task.

In [25]:
?read.table

In [48]:
# when you know the class in advanced you can set it up directly
x2 <- read.table("data2.csv",header=TRUE,sep=','
                 ,comment.char='#'
                 ,colClasses=c("character","numeric","character") )
x2
attributes(x2)
lapply(x2, class)

  Product              Price  PhysicalSpecs
1 PlayStation 4 Pro    399.99 8-core Jaguar AMD @ 2.1GHz
2 Microsoft Xbox One S 244.94 8-core Jaguar CPU @1.75GHz
3 PlayStation 4 Slim   318.00 8-core Jaguar AMD Jaguar @1.6GHz

$names
[1] "Product"       "Price"         "PhysicalSpecs"

$class
[1] "data.frame"

$row.names
[1] 1 2 3

$Product
[1] "character"

$Price
[1] "numeric"

$PhysicalSpecs
[1] "character"

In [53]:
# when you have a large file you can scan the some of the first 
# lines and calculate the class in advance so you can read the 
# rest of the file faster
initial_x4 <- read.table("data2.csv"
                 ,nrow=1
                 ,header=TRUE
                 ,sep=',' )
initial_x4
attributes(initial_x4)
lapply(initial_x4, class)
classes <- sapply(initial_x4, class)
complete_x4 <- read.table("data2.csv"
                 ,header=TRUE
                 ,sep=','
                 ,colClasses=classes)
complete_x4

  Product           Price  PhysicalSpecs
1 PlayStation 4 Pro 399.99 8-core Jaguar AMD @ 2.1GHz

$names
[1] "Product"       "Price"         "PhysicalSpecs"

$class
[1] "data.frame"

$row.names
[1] 1

$Product
[1] "factor"

$Price
[1] "numeric"

$PhysicalSpecs
[1] "factor"

  Product              Price  PhysicalSpecs
1 PlayStation 4 Pro    399.99 8-core Jaguar AMD @ 2.1GHz
2 Microsoft Xbox One S 244.94 8-core Jaguar CPU @1.75GHz
3 PlayStation 4 Slim   318.00 8-core Jaguar AMD Jaguar @1.6GHz