# Functions

Functions:
* are first class objects
* can be passed as arguments to other functions
* can be nested
* the return value is the last statement

Argument Matching:
1. Check for exact match for named argument
2. Check for partial match
3. Check for positional match

In [31]:
# add two numbers
add_two_numbers <- function(a,b) {
    a + b
}
class(add_two_numbers)
formals(add_two_numbers)

[1] "function"

$a


$b

In [3]:
add_two_numbers(1,2)

[1] 3

In [19]:
# filter elements above n
above_n <- function(x,n=5) {
    x[x>n]   
}

In [6]:
x1 <- 1:20
above_n(x1)
above_n(x1, 15)

 [1]  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

[1] 16 17 18 19 20

In [21]:
# filter a range
beetwhen_a_b <-function (x, a=5, b=30) {
    condition <- x >= a & x<=b
    x[condition]
}

In [18]:
x2 <- 1:50
beetwhen_a_b(x2)
beetwhen_a_b(x2,b=40)
beetwhen_a_b(x2,a=40) ## no result
beetwhen_a_b(x2,a=40, b=45)

 [1]  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29
[26] 30

 [1]  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29
[26] 30 31 32 33 34 35 36 37 38 39 40

integer(0)

[1] 40 41 42 43 44 45

In [27]:
# function on a dataframe
column_mean <- function(x,removeNA=TRUE) {
    nc <- ncol(x)
    means <- numeric(nc)
    for(i in 1:nc) {
        means[i] <- mean(x[,i], na.rm=removeNA)
    }
    means
}

In [29]:
# R has a default airquality dataset for testing :)
head(airquality,5)
column_mean(airquality)
column_mean(airquality,removeNA = FALSE)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5

[1]  42.129310 185.931507   9.957516  77.882353   6.993464  15.803922

[1]        NA        NA  9.957516 77.882353  6.993464 15.803922

# Lazy Evaluation
* arguments are only used as they need it

In [34]:
# this call will not produce error because b is not used at all
f1 <- function(a,b) {
    a^2
}
f1(2)

[1] 4

In [36]:
# this function throws an error because b is used
f2 <- function(a,b){
    a * b
}
f2(2)

ERROR: Error in f2(2): argument "b" is missing, with no default

# NULL Argument

In [41]:
f4 <- function(a, b=1, c=2, d=NULL) {
    if(is.null(d)) {
        a + b + c
    } else {
        a + b + c + d
    }
}
f4(1,1,1)
f4(1,1,1,1)

[1] 3

[1] 4

# The "..." Argument
* used to pass argument to other functions, sometime called extending functions
* useful to not reconstruc arguments of a entire function
* useful when number of arguments cannot be known in advance
* arguments that apear after "..." should be named explicitly

In [45]:
f5 <- function(a,b) {
    a + b
}
# f6 is extending f5
f6 <- function(a, ...) {
    a + f5(...)
}
f5(1,1)
f6(1,1,1)

[1] 2

[1] 3

In [47]:
args(paste)
args(cat)
# notice that first set of arguments is not defined can be one or many

function (..., sep = " ", collapse = NULL)
NULL

function (..., file = "", sep = " ", fill = FALSE, labels = NULL,
    append = FALSE)
NULL