# Subsetting and Sorting

In [7]:
# First let's prepare the data
set.seed(13435)
x1 <- data.frame("var1"=sample(1:5),"var2"=sample(6:10),"var3"=sample(11:15))
print(x1)
x1 <- x1[sample(1:5),];
print(x1)
x1$var2[c(1,3)] = NA
print(x1)

  var1 var2 var3
1    2    8   15
2    3    7   12
3    5    6   14
4    1   10   11
5    4    9   13
  var1 var2 var3
1    2    8   15
4    1   10   11
2    3    7   12
3    5    6   14
5    4    9   13
  var1 var2 var3
1    2   NA   15
4    1   10   11
2    3   NA   12
3    5    6   14
5    4    9   13

In [10]:
# now let's subset it

# get first col
print(x1[,1])

# get col by name
print(x1[,"var1"])

# get first and second row values of col names var2
print(x1[1:2,"var2"])

[1] 2 1 3 5 4
[1] 2 1 3 5 4
[1] NA 10

In [18]:
# let's apply logical operations

# look for rows where 
# var1 column values are less or equal to 3
# AND var3 column values are greater than 11
print(x1[(x1$var1 <= 3 & x1$var3 > 11),])

# look for rows where
# var1 column values are less or equal to 3
# OR column values are greater than 11
print(x1[(x1$var1 <=3 | x1$var3 > 11),])

# filtering missing values
# without witch
print(x1[x1$var2 > 8,])
# with witch
print(x1[which(x1$var2 > 8),])

  var1 var2 var3
1    2   NA   15
2    3   NA   12
  var1 var2 var3
1    2   NA   15
4    1   10   11
2    3   NA   12
3    5    6   14
5    4    9   13
     var1 var2 var3
NA     NA   NA   NA
4       1   10   11
NA.1   NA   NA   NA
5       4    9   13
  var1 var2 var3
4    1   10   11
5    4    9   13

In [25]:
# now sorting

# getting a sorted list of column var1
# by default this is ascending 
print(sort(x1$var1))

# getting descending sorted list of column var1
print(sort(x1$var1, decreasing=TRUE))


# getting a sorted list of column var2 where missing values are last
print(sort(x1$var2, na.last=TRUE))

[1] 1 2 3 4 5
[1] 5 4 3 2 1
[1]  6  9 10 NA NA

In [33]:
# applying ordering

# order rows based on column var1
print(x1[order(x1$var1),])

# now order rows based on columns var1 and var3
print(x1[order(x1$var1, x1$var3),])

  var1 var2 var3
4    1   10   11
1    2   NA   15
2    3   NA   12
5    4    9   13
3    5    6   14
  var1 var2 var3
4    1   10   11
1    2   NA   15
2    3   NA   12
5    4    9   13
3    5    6   14

In [36]:
# sorting with plry
library(plyr)

In [37]:
# ascending order on var1
print(arrange(x1, var1))

# descending order on var1
print(arrange(x1,desc(var1)))

  var1 var2 var3
1    1   10   11
2    2   NA   15
3    3   NA   12
4    4    9   13
5    5    6   14
  var1 var2 var3
1    5    6   14
2    4    9   13
3    3   NA   12
4    2   NA   15
5    1   10   11

In [40]:
# adding rows and columns

# adding a var4 column using assigment
x1$var4 <- rnorm(5)
print(x1)

# adding
x2 <- cbind(x1, rnorm(5))
print(x2)

  var1 var2 var3       var4
1    2   NA   15  0.5439561
4    1   10   11  0.3304796
2    3   NA   12 -0.9710917
3    5    6   14 -0.9446847
5    4    9   13 -0.2967423
  var1 var2 var3       var4   rnorm(5)
1    2   NA   15  0.5439561  1.1495053
4    1   10   11  0.3304796 -0.8705105
2    3   NA   12 -0.9710917 -0.9870139
3    5    6   14 -0.9446847  0.3262530
5    4    9   13 -0.2967423 -1.1025739